In [1]:
import pandas as pd
import numpy as np
np.random.seed(5)
df = pd.DataFrame(np.random.randint(100, size=(7, 6)), 
                  columns=list('ABCDEF'), 
                  index=['R{}'.format(i) for i in range(7)])
df.head()

     A   B   C   D   E   F
R0  99  78  61  16  73   8
R1  62  27  30  80   7  76
R2  15  53  80  27  44  77
R3  75  65  47  30  84  86
R4  18   9  41  62   1  82

In [2]:
colsToDrop = ['A']
df.drop(colsToDrop, axis=1)

     B   C   D   E   F
R0  78  61  16  73   8
R1  27  30  80   7  76
R2  53  80  27  44  77
R3  65  47  30  84  86
R4   9  41  62   1  82
R5  78   5  58   0  80
R6  36  51  27  31   2

In [4]:
# df并没有改变，不是drop in place
df

     A   B   C   D   E   F
R0  99  78  61  16  73   8
R1  62  27  30  80   7  76
R2  15  53  80  27  44  77
R3  75  65  47  30  84  86
R4  18   9  41  62   1  82
R5  16  78   5  58   0  80
R6   4  36  51  27  31   2