In [ ]:
# source: https://jacquespeeters.github.io/2017/08/21/parallel-pandas-groupby/

In [10]:
from multiprocessing import Pool, cpu_count
import pandas as pd
import numpy as np
import timeit
import time
#import dask
#import dask.dataframe as dd
def applyParallel(dfGrouped, func):
    with Pool(cpu_count()) as p:
        ret_list = p.map(func, [group for name, group in dfGrouped])
    return pd.concat(ret_list)

In [11]:
# Create a Dataframe for a minimum example
df = pd.DataFrame()
# 5000 users with approx 100 values
df["user_id"] = np.random.randint(5000, size=500000)
# Generate 500000 random integer values
df["value"] = np.random.randint(30, size=500000)
# Create data_chunk based on modulo of user_id
df["data_chunk"] = df["user_id"].mod(cpu_count() * 3)
# Any not optimised and intensive function i want to apply to each group

In [13]:
def group_function(group):
    # Inverse cumulative sum
    group["inv_sum"] = group.iloc[::-1]['value'].cumsum()[::-1].shift(-1).fillna(0)
    return group
def func_group_apply(df):
    return df.groupby("user_id").apply(group_function)

In [36]:
start = time.time()
normal = df.groupby("user_id").apply(group_function)
end = time.time()
print("Execution time :" + str(end - start))

Execution time :4.599748134613037

In [37]:
start = time.time()
parallel = applyParallel(df.groupby("user_id"), group_function)
end = time.time()
print("Execution time :" + str(end - start))

Execution time :2.8883588314056396

In [28]:
start = time.time()
parallel_chunk = applyParallel(df.groupby("data_chunk") , func_group_apply)
end = time.time()
print("Execution time :" + str(end - start))

Execution time :1.2779638767242432

In [38]:
parallel_chunk

        user_id  value  data_chunk  inv_sum
3           480     26           0   1326.0
17          432     22           0   1592.0
71         3552     12           0   1226.0
88         4440      3           0   1517.0
116        4968     10           0   1502.0
150        1728     24           0   1287.0
157        2688      5           0   1809.0
166        1824     29           0   1529.0
169        2424     29           0   1492.0
177        3072      6           0   1520.0
219         120     12           0   1063.0
246        4008     19           0   1366.0
291         528     15           0   1564.0
295        3144      5           0   1253.0
342        3144     28           0   1225.0
353        2424     21           0   1471.0
387        1848     26           0   1231.0
388        1848     12           0   1219.0
402        2400      1           0   1490.0
486         552     19           0   1253.0
497        1416     15           0   1669.0
516        2784     20           0   1410.0
553        1224     22           0   1651.0
571        4200     22           0   1373.0
574        1440      7           0   1578.0
626        2520     11           0   1340.0
640         744      7           0   1206.0
643        4368      0           0   1192.0
654         960     17           0   1459.0
690        4080     20           0   1879.0
...         ...    ...         ...      ...
499304     4487     11          23      0.0
499318     3743     21          23      0.0
499393     1151     16          23      0.0
499467     4079     12          23      0.0
499483       95     28          23      0.0
499495     3383      4          23      0.0
499508      839      7          23      0.0
499553     3575     28          23      0.0
499562     2735     21          23      0.0
499585       71     22          23      0.0
499588     1559     22          23      0.0
499595     3623      1          23      0.0
499651     4775     13          23      0.0
499653     3263      3          23      0.0
499691     4703     27          23      7.0
499716      743      5          23      0.0
499721      143     21          23      0.0
499734      479      1          23      0.0
499771     4199     26          23      0.0
499806     1967      3          23      0.0
499815     3239      3          23      0.0
499820     3287     24          23      0.0
499834     4703      7          23      0.0
499857     2183      5          23      0.0
499892     4103     16          23      0.0
499907     3695      3          23      0.0
499969     1007     24          23      0.0
499971     3431      9          23      0.0
499992     1607     27          23      0.0
499996     4727     13          23      0.0

[500000 rows x 4 columns]

In [34]:
len(df.data_chunk.unique())

24

In [35]:
df.shape

(500000, 3)